<div class="jumbotron">
	<div class="container">
	  <div class="col-md-8">
	  	<h1>The online software simple and intuitive for data visualization.</h1>
		<h3>
			Create and share high visual quality dashboards, <br>reports and data presentation in minutes.
		</h3>
		<p class="price">
			<span class="label label-warning">Upgrade plan only $7,99/mo.</span>
		</p>

	  </div>
	  <div class="col-md-4 centered">
		<p>
			<%= link_to "Get Started for Free!", new_user_registration_path, class: "btn btn-warning btn-lg" %>
		</p>

		<p class= "small">
		*no credit card required 
		</p>
	  </div>
	</div>
</div>

<div class="container">
	<h2>Create beautiful and elegant visualizations <br>in only <a class="highlig"> three easy steps</a></h2>
	
</div>