
<div class="jumbotron">
	<div class="container">
	  <div class="col-md-8">
	  	<h1>The online software simple and intuitive for data visualization.</h1>
		<h3>
			Create and share high visual quality dashboards, <br>reports and data presentation in minutes.
		</h3>
		<p class="price">
			<span class="label label-warning">Upgrade plan only $7,99/mo.</span>
		</p>

	  </div>
	  <div class="col-md-4 centered">
		<p>
			<a class= "btn btn-warning btn-lg" href="#">Get Started for Free!</a>
		</p>

		<p class= "small">
		*no credit card required 
		</p>
	  </div>
	</div>
</div>

<div class="container">
	<h2>Create beautiful and elegant visualizations <br>in only three easy steps</h2>

</div>