
<div class="jumbotron">
 <div class="row">
  <div class="col-md-8">
  	<h1>The online software simple and <br> intuitive for data visualization.</h1>
	<h3>
		Create and share high visual quality dashboards,<br> reports and data presentation in minutes.
	</h3>
	<p class="price">
		Upgrade plan only $7,99/mo.
	</p>

  </div>
  <div class="col-md-4">
	<p>
		<a class= "btn btn-primary btn-lg" href="#">Sign Up Now!</a>
	</p>
  </div>
 </div>
</div>



<div class="container">
	teste do caralho
	</div>