@import 'bootstrap';

body{
		background: #fff;

	}

.container {
	

	h2 {
		text-align: center;	
		padding-bottom: 30px;
	}
}

/* navbar */
.navbar-default {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	background: #fff;
	border-color: #e1e1e1;
}

/* navbar logo*/
.navbar-brand {
	font-size: 30px;
}

/* navbar hover color font*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #428bca;

 
}

.col-md-8 {
	padding: 0px;
}

/* Jumbotron*/

.jumbotron {

	padding-bottom: 25px;
	background-color: #444;
	
	h1 {
	   font-size: 48px;
	   padding-bottom: 10px;
	   color: #fff;
	}

	h3 {
	   color: #fff;
	   padding-bottom: 10px;
	} 

	.price {
	  font-size: 18px;
	  margin-top: 25px;
	  color: #fff;
	    	
	}

	.small {
	  font-size: 14px;
	  color: #428bca;
	  text-align:center;
	  margin-bottom: 10px;
	  padding: 0px;	    	
	}
}

.highligh{
	color: #428bca;
}

.footer {
	margin-top: 50px;
	color: graylight;
	a {
		color: gray;
	}


}

