@import 'bootstrap';

/* navbar */
.navbar-default {
	padding-top: 20px;
	background-color: #fff;
	border: 0px;

}

/* navbar logo*/
.navbar-brand {
	font-size: 30px;

}

.container {
	width: 1170px;

	h2 {
		text-align: center;	
	}
}

.col-md-8 {
	padding: 0px;
}

/* Jumbotron*/

.jumbotron {
    
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #8fbcda;
	
	h1 {
	   font-size: 48px;
	   padding-bottom: 10px;
	   color: #fff;
	}

	h3 {
	   color: #fff;
	} 

	.price {
	  font-size: 18px;
	  margin-top: 25px;
	  color: #fff;
	    	
	 }

	.small {
	  font-size: 14px;
	  margin-top: 0px;
	  color: #fff;
	  text-align:center;

	    	
	 }
}

.centered
{
    text-align:center;
}

.footer {
	margin-top: 50px;
	color: graylight;
	a {
		color: gray;
	}
.col-md-4 {

	}
}

